:root{
  --fonts: "Roboto", sans-serif;
  --btn-color:#EA625C;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.site-wrapper{
  width: 1250px;
  max-width: 100%;
  height: auto;
  border: 1px solid red;
  margin: auto;
  padding-top: 30px;
  background-color: #FFFFFF;
}

.header{
  width: 100%;
  height: 120px;

}
.container-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  height: 42px;
  margin: auto;
  border:1px solid green;
}
.logo-img{
  width: 35px;
  height: 41px;
}
.links-list{
  display: flex;
  list-style: none;

}
.links-list>li{
  margin-right: 30px;


}
.links-list>li:last-child{
  margin-right: 0px;
  margin-left: 10px;

}
.links-list>li>a{
  font-size: 15px;
  line-height: 22px;
  font-family: var(--fonts);
  font-weight: 400;
  color: #333333;
  text-decoration: none;

}
.question-link{
  border-bottom: 1px solid #666666;
  padding-bottom: 6px;
}
main{
  width: 100%;
  height: 567px;
  background-image: url(../img/watch.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right,right;
  border:1px solid blue;
}
.main-container{

  width:1000px ;
  /* height: 100%; */
  border:1px solid yellowgreen;
  margin: auto;
}
.header-main{
  width: 331px;
  height: 60px;
  font-size: 50px;
  line-height: 60px;
  font-family: var(--fonts);
  font-weight: 700;
  color:#000;
  margin-top: 91px;
  padding: 3px, 0px ;
}
.text-main{
  width: 490px;
  height: 120px;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--fonts);
  font-weight: 400;
  color:#777777;
  margin-top: 30px;
  border-left:3px solid #888888;
  padding-left: 40px;
}
.btn{
  width: 260px;
  height: 51px;
  padding: 12px;
  font-size: 18px;
  line-height: 27px;
  font-family: var(--fonts);
  font-weight:700;
  background-color:var(--btn-color);
  text-transform:uppercase;
  color:#FFFFFF;
  border:none;
  margin-top: 30px;
  cursor: pointer;
}

/* ABOUT */
.about-watch{
  width: 100%;
  height: 393px;
  /* border:1px solid yellowgreen; */
  border-top: 2px solid #DDDDDD;
  padding: 70px 125px;
}
.flex-wrap-container{
  display: flex;


}
.content-about{
  width: 280px;
  flex-grow: 1;
  /* border:1px solid goldenrod; */
  margin-right: 80px;
}
.content-about:last-child{
  margin-right: 0;
}
.heading-about{
  font-size: 18px;
  line-height: 27px;
  font-family: var(--fonts);
  font-weight: 700;
  color:#222222;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.text-about{
  font-size: 15px;
  line-height: 24px;
  font-family: var(--fonts);
  font-weight: 400;
  color:#333333;

}

.square{
  display: flex;
  height: 8px;
  margin-top: 20px;
  /* width: 35px; */
}

.sq{
  width: 8px;
  height: 8px;
  margin-right: 10px;
  background-color:#DDDDDD;
}
.sq:last-child{
  margin-right: 0px;
}



.more-div{
  display: flex;

}
.more{
  display: flex;
  align-items:center;
  margin-top: 20px;
  font-size: 16px;
  line-height: 25px;
  font-family: var(--fonts);
  font-weight: 700;
  color:#EA625C;
  text-transform: uppercase;
}
.more::before{
  width: 40px;
  height: 3px;
  margin-right: 10px;
  background-color:#EA625C;
  content: "";



}
.learn-link{
  text-decoration: none;
  cursor: pointer;
}

























@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  main{background: url(../img/watch@2x.png)}

}